@import url("https://fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif|Muli|PT+Serif|Prociono|Slabo+27px|Source+Sans+Pro|Trirong|Ubuntu|Aref+Ruqaa|Great+Vibes|Philosopher|Roboto+Condensed|Bitter|Source+Sans+Pro|Acme|Raleway");
@import"nib"
@import"typographic"

rupture.scale = 0 400px 650px 800px 1050px 1800px
rupture.scale-names = 'xs' 's' 'm' 'l' 'xl' 'hd'

typographic()
t-present(1)



/* font-family */
.f-ubuntu {
  font-family: 'Ubuntu', sans-serif !important;
}
.f-Roboto-Condensed {
  font-family: 'Roboto Condensed', sans-serif !important;
}
.f-raleway {
  font-family: 'Raleway', sans-serif !important;
}
.f-acme {
  font-family: 'Acme', sans-serif !important;
}
.f-bitter {
  font-family: 'Bitter', sans-serif !important;
  /* Text color */
}

.row1
    min-height: 500px
    background: linear-gradient(360deg, rgba(72, 60, 126,0.7), rgba(131,148,188,0.7)), url('./../img/bg1.jpg') no-repeat
    background-size: cover 
    


    .captionText
        padding-top: 200px
        color #fff !important

        h2
            color: #fff


.row2
    background: #fff
    margin-bottom: 50px

.columnBox
    min-height: 400px
    // width: 300px;
    border: 1px solid #d2d2d2
    padding: 20px
    text-align: center
    display: block
    border-radius: 3px
    
    p
        font-size: 15px



.row3
    background: #f8f8f8
    min-height: 400px
    padding-bottom: 150px

.row4
    min-height: 400px;  


.row5
    min-height: 500px


.row6
    min-height: 400px;
    background: #5B408F
    padding-top: 60px

.columnBox2
    min-height: 300px
    border: 1px solid #d2d2d2
    padding: 20px
    text-align: center
    display: block
    border-radius: 3px

    img
        width: 250px
        margin-top: 70px

.footerx
    padding-bottom: 100px

    p
        line-height: 20px
        margin-top: 0

        
.subscriber
    margin-top: 70px
    margin-bottom: 100px

     
    input
        height 70px !important
        

    button
        background: #2c2c2c
        color: #fff
        margin-top: 10px
        height 50px
        margin-left: -130px
        // width: 200px
        position: absolute
       

        
            
            



    